@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background-color: #d9d9d9;
  color: #404040;
}
